<div ui-content-for="title">
  <span>Purchase Tickets</span>
</div>
<div ui-view="backbutton"></div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div class="scrollable-content"  style='padding:10px'>
    <div style='background-color:white' class='big-web-font'>
      Purchase tickets for {{resources['player'].first_name}} {{resources['player'].last_name}}.
      <hr>
      <purchase-tickets></purchase-tickets>
      <button
         ng-disabled='total_cost<=0'
                                   class='btn btn-info btn-xlg'
                                   ng-click='stripe_dialog(total_cost*100)'
                                   > Purchase Tickets With Stripe </button>
         <span ng-if='ticket_purchase_in_progress==true'><i style='font-size:40px' class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i></span>
<br>
<br>
      
    </div>    
  </div>
</div>
