@import 'bootstrap-sass/assets/stylesheets/bootstrap.scss';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    margin: 20px;
}
/*
body > button {
    position: absolute;
    top: 20px;
    right: 20px;
}
*/

.modal-content {
    padding: 30px;
}
