
.sidebar-left {
background: #555555;
width: 500px;
left: 0;
right: auto;
-webkit-transition: width 400ms ease;
-o-transition: width 400ms ease;
transition: width 400ms ease;
}

.sidebar-left-in .app {
width: 100%;
-webkit-transform: translate(500px, 0);
-ms-transform: translate(500px, 0);
-o-transform: translate(500px, 0);
transform: translate(500px, 0);
-webkit-transition: -webkit-transform 400ms ease;
-moz-transition: -moz-transform 400ms ease;
-o-transition: -o-transform 400ms ease;
transition: transform 400ms ease;
}

.sidebarheader {
background-color: lightblue;
}
