<div ui-content-for="title">
  <span>Record Score</span>
</div>
<div ui-view="backbutton"></div>

<div class="scrollable">
    <div class="big-web-font scrollable-content"  style='padding:10px'>
      <table style='padding-top:25px;'>
	<tr ng-if='team_tournament == "true"'>
	  <td align=right> Team : 
	  </td>
	  <td>{{resources.team.team_name}}
	  </td>
	</tr>
	<tr ng-if='team_tournament == "false"'>
	  <td align=right> Player : 
	  </td>
	  <td>{{resources.player.first_name}} {{resources.player.last_name}} (#{{resources.player.player_id}})
	  </td>
	</tr>	
	<tr>
	  <td align=right> Machine : 
	  </td>
	  <td>{{resources.division_machine.name}}
	  </td>
	</tr>
      </table>
      <div class='form-group form-group-xlg input-group input-group-xlg'>
        <span  class="input-group-addon" id="score">Score</span>
        <!-- <div ng-click='fuckIos()' id='fakescoreinput' class='big-web-font fake-input'>           -->
	<!--   <center>{{formatted_score.score}}</center> -->
        <!-- </div> -->
      <input
         type='tel'
         class='fake-input big-web-font'
         aria-describedby='score'
         name='new_score'
         ng-model='new_score'
	 ng-change='onScoreChange()'
         id='realscoreinput'
         />        
      </div>

      <button
	 class='btn btn-info btn-xlg big-web-font'
	 style='width:75%;margin:auto;margin-bottom:15px;margin-top:15px'
	 ui-sref='.confirm({score:new_score,entryId:resources.active_entry.entry.entry_id})'
	 ng-disabled='new_score == undefined || new_score == ""'
	 >Next</button>      
      <br>
      <button
	 class='btn btn-info btn-xlg big-web-font'
	 style='width:75%;margin:auto;margin-bottom:15px'
	 ui-sref='.asshole({entryId:resources.active_entry.entry.entry_id})'
	 >Player Is Jagoff</button>
      <button
	 ng-if='team_tournament == "false"'
	 class='btn btn-xlg big-web-font'
         ng-class='void_button_class'
	 style='width:75%;margin:auto;margin-bottom:15px'
	 ng-click='two_step_void()'
	 >
        <span ng-if="void_button_class=='lightred'">Void</span>
        <span ng-if="void_button_class=='red'">Click To Confirm Void</span>
      </button>
<!--      <button
	 ng-if='team_tournament == "true"'
	 class='btn btn-danger btn-xlg big-web-font'
	 style='width:75%;margin:auto;margin-bottom:15px'
	 ng-click='launchVoidModal(resources,"team")'
	 >Void</button>     --> 
      
      <table class='table' ng-if="resources.active_entry.entry.scores != undefined && resources.active_entry.entry.division_id == division_id">
        <tr><th colspan=2>Previous Scores</th></tr>
      <tr ng-repeat='score in resources.active_entry.entry.scores'>
	<td>{{resources.machines[score.division_machine_id].name}}</td><td align=left>{{score.score|number}}</td>
      </tr>
      </table>
      <!-- <div ng-repeat='score in resources.team_active_entry.entry.scores' ng-if='resources.team_active_entry.entry.scores != undefined && resources.team_active_entry.entry.division_id == division_id'> -->
      <!--   {{resources.machines[score.division_machine_id].name}} : {{score.score}}<br> -->
      <!-- </div> -->
      <table class='table' ng-if="tournament_type == 'herb' && resources.best_herb_results.results.length > 0">
        <tr><th colspan=3>Top 3 Scores</th></tr>
        <tr  ng-repeat="score in resources.best_herb_results.results">
          <td>{{score.machine_name}}</td><td>{{score.score}}</td><td>#{{score.rank}}</td>
        </tr>
      </table>
    </div>
</div>
