<div ui-content-for="title">
  <span>Tournament Created</span>
</div>
<div  ui-content-for="navbarAction">
</div>
<div  ui-content-for="navbarActionDesc">
</div>

<div class="scrollable">
  <div ui-view='tournament_add_progress'></div>
  <div class="scrollable-content">
    <div style='background-color:white' class='big-web-font'>
      Tournament {{resources.add_tournament_results.name}} has been created!
      <br>
      <br>
      <a
	 ng-if='resources.add_tournament_result.single_division != true'
	 class='btn btn-info btn-xlg'
	 ui-sref='.division_add({tournamentId:resources.add_tournament_result.tournament_id})'
	 > Create Divisions</a>
      <br>
      <a
	 ng-if='resources.add_tournament_result.single_division == true'
	 class='btn btn-info btn-xlg'
	 ui-sref='app'
	 > Done</a>       
      </div>
  </div>
</div>
