<div ui-content-for="title">
  <span>Tournament Created</span>
</div>

<div class="scrollable">
  <div ui-view='tournament_add_progress'></div>
  <div class="scrollable-content">
    <div style='background-color:white' class='big-web-font'>
      Tournament {{tournament.name}} has been created!
      <br>
      <a
	 ng-if='tournament.single_division != true'
	 class='btn btn-info btn-xlg'
	 ui-sref='app.tournament_add.process.division_add({tournamentId:tournament.tournament_id})'
	 > Create Divisions</a>
      <br>
      <a
	 ng-if='tournament.single_division == true'
	 class='btn btn-info btn-xlg'
	 ui-sref='app'
	 > Done</a>       
      </div>
  </div>
</div>
