{% extends "index_ex.html" %}
{% block content %}
<center><h2>  {{player.first_name}} {{player.last_name}} Entries </h2></center> <br>
  {% for division_id in divisions %}
    {% if herb_player_points[division_id]|length > 0%}
      <div class="panel panel-default" style='width:97%;margin:auto'>
        <div class="panel-heading"><center><h1 class='panel-title'>Best entries for {{divisions[division_id]['tournament_name']}}</center></h1></div>
        <center>
          <br>
          <b>Player Rank : {{herb_player_points[division_id][player.player_id]['rank']}}</b>
          <hr style='width:50%'>
        </center>
        <table class='table'>
          <tr>
            <th> Rank </th>
            <th> Machine</th>
            <th> Score </th>
            <th> Points </th>
            </tr>
        {% for score in herb_player_points[division_id][player.player_id]['scores'] %}
          <tr>
            <td> {{score.filter_rank}}</td>
            <td> <a href="/division_machine_entries_ex/{{score.score_division_machine_id}}">{{score.machine_abbreviation}}</a> </td>
            <td> {{score.score_score}} </td>
            <td> {{score.filter_score}} </td>            
          </tr>          
        {% endfor %}
        <tr>
          <td colspan=3></td><td>{{herb_player_points[division_id][player.player_id]['total_points']}}</td>
          </tr>
        </table>
      </div>
    {% endif %}
    {% if sorted_division_entry_ids[division_id]|length > 0%}
      <div class="panel panel-default" style='width:97%;margin:auto'>
        <div class="panel-heading"><center><h1 class='panel-title'>Best entry for {{divisions[division_id]['tournament_name']}}</h1></center></div>
        <center>
          <br><b>
            {% if division_results[division_id][sorted_division_entry_ids[division_id][0]]['entry']['entry_completed'] == False %}
              (IN PROGRESS)
            {% endif %}
            Entry ID : # {{division_results[division_id][sorted_division_entry_ids[division_id][0]]['entry']['entry_entry_id']}}, Rank : {{division_results[division_id][sorted_division_entry_ids[division_id][0]]['entry']['second_query_scorepointsrank']}}
          </b>
          <hr style='width:50%'>
        </center>
        <table class='table'>
          <tr>
            <th> Rank </th>
            <th> Machine</th>
            <th> Score </th>
            <th> Points </th>
            </tr>
        {% for score in division_results[division_id][sorted_division_entry_ids[division_id][0]]['scores'] %}
          <tr>
            <td> {{score['first_query_scorerank']}}</td>
            <td> <a href="/division_machine_entries_ex/{{score['score_division_machine_id']}}">{{score['first_query_machine_abbreviation']}}</a> </td>
            <td> {{score['score_score']}} </td>
            <td> {{score['first_query_scorepoints']}}</td>
          </tr>          
        {% endfor %}
        <td></td><td></td><td></td><td>{{division_results[division_id][sorted_division_entry_ids[division_id][0]]['entry']['second_query_scorepointssum']}}</td>
        </table>        
      </div>
    {% endif %}
  {% endfor %}
  
  {% for division_id in divisions %}
    {% if herb_player_points[division_id]|length > 0 %}
      <h3>All entries for {{divisions[division_id]['tournament_name']}}</h3>      
      {% for score in herb_player_points[division_id][player.player_id]['all_scores'] %}
      <br>
      <div class="panel panel-default" style='width:97%;margin:auto'>
        <div class="panel-heading"><center><h1 class='panel-title'>Entry ID : {{score.entry_entry_id}}, Rank : {{score.filter_rank}}</h1> </center></div>
        <table class='table'>
          <tr>
            <th> Rank </th>
            <th> Machine</th>
            <th> Score </th>
            <th> Points </th>
            </tr>
          <tr>
            <td> {{score.filter_rank}}</td>
            <td> <a href="/division_machine_entries_ex/{{score.score_division_machine_id}}">{{score.machine_abbreviation}}</a> </td>
            <td> {{score.score_score}} </td>
            <td> {{score.filter_score}} </td>            
          </tr>          
        </table>
      </div>
      {% endfor %}
    {% endif %}
    {% if sorted_division_entry_ids[division_id]|length > 0%}
      <h3>All entries for {{divisions[division_id]['tournament_name']}}</h3>
      {% for entry_id,entry in division_results[division_id].items() %}
      <br>
      <div class="panel panel-default" style='width:97%;margin:auto'>
        <div class="panel-heading">
          <center>
            <h1 class='panel-title'>
            {% if entry['entry']['entry_completed'] == False %}
              (IN PROGRESS)
            {% endif %}
            Entry ID : # {{entry['entry']['entry_entry_id']}}, Rank : {{entry['entry']['second_query_scorepointsrank']}}
            </h1>
          </center>
        </div>

        <table class='table'>
          <tr>
            <th> Rank </th>
            <th> Machine</th>
            <th> Score </th>
            <th> Points </th>
            </tr>
         {% for score in entry['scores'] %}
          <tr>
            <td> {{score['first_query_scorerank']}}</td>
            <td> <a href="/division_machine_entries_ex/{{score.score_division_machine_id}}">{{score['first_query_machine_abbreviation']}}</a> </td>
            <td> {{score['score_score']}} </td>
            <td> {{score['first_query_scorepoints']}}</td>
          </tr>          
        {% endfor %}
        <td></td><td></td><td></td><td>{{entry['entry']['second_query_scorepointssum']}}</td>
        </table>        
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% endblock %}
