<div ui-content-for="title">
  <span>Leave Queue</span>
</div>
<div ui-view="backbutton"></div>
<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
    <div class="big-web-font scrollable-content"  style='padding:10px'>
      <div ng-if="resources.player_queue.player_id != undefined">

        Confirm you want to remove player from <b>{{resources.division_machines[resources.player_queue.division_machine_id].name}}</b>?<br><br>
        <button class='btn btn-info btn-xlg'
                ui-sref='.process'>
          Remove From Queue
        </button>

      </div>
      <div ng-if="resources.player_queue.player_id == undefined">
        Player is not on a queue
        <button class='btn btn-info btn-xlg'
                ui-sref='app'>
          Go Home
          </button>
      </div>
      
  </div>
</div>
