<div ui-content-for="title">
  <span>Confirm</span>
</div>
<div ui-view="backbutton"></div>
<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
    <div class="scrollable-content med-web-font"  style='padding:10px'>
      Confirm that you want to be added onto the queue for <b> {{resources.division_machine.name}}</b>.<br><br>      
      <div ng-if="resources.player_queue.player_id != undefined">
        You will be removed from the queue for : <b>{{resources.division_machines[resources.player_queue.division_machine_id].name}}</b>.<br><br>
      </div>
      <div ng-if='resources.player_tokens.divisions[division_id] == 0'>
        <b>WARNING!</b> You do not have any tickets available in this division.<br>
      </div>
      <br>
      <br>
      <button ui-sref=".process({dummy:{dummy_data:'dummy_data'}})" class='btn btn-info btn-xlg'>Join Queue</button>
    </div>

</div>
