<br>
<br>
<div ng-if="resources.division_queue[division_machine_id].length > 0">
 <button ng-if="resources.division_queue[division_machine_id].length > 1" ng-click="getNextPlayerOnQueue()" class='btn btn-danger btn-xlg'> Next Player In Queue (of {{resources.division_queue[division_machine_id].length}})</button>
 <button ng-if="resources.division_queue[division_machine_id].length == 1" ng-click="getNextPlayerOnQueue()" class='btn btn-danger btn-xlg'> Remove Player In Queue </button>
 <br>
 <br>
</div>
<div class='form-group form-group-xlg input-group input-group-xlg'>        
  <span class="input-group-addon" id="player-num">Player #</span>
  <input
     focus-if
     aria-describedby='player-num'
     name='thing'
     type='number'
     class='form-control number-input'
     popover-placement="right"
     uib-popover-template="popovertemplate"
     popover-is-open='popoverIsOpen'
     popover-trigger='none'
     ng-change='onChange()'
     ng-model='player.player_id'/>
</div>
<!--    <a       
     class='btn btn-info'                 
     style='font-size:32px;margin-top:15px'
       ui-sref='.process({playerId:select_player.player_id})'
       ng-disabled='submitPlayerDisabled'
       >Select Player</a><br>-->
<!--     <a 
     class='btn btn-info'                 
     style='font-size:32px;margin-top:15px'
     ng-click='fuckIos()'
     >Enter Player Number</a>-->

<script type="text/ng-template" id="myPopoverTemplate.html">
  <div class='player_popup'><center>{{keypad_player_name}}
      <br>
      <span  ng-if='keypad_player_team != undefined'><i class="fa fa-users" aria-hidden="true"></i><span class='player_popup_team_name'>{{keypad_player_team}}</span></span>
      <br>
      
      <span  ng-if='player_is_asshole != false'><i style='color:red' class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>      
    </center>
  </div>
</script>
