<div ng-repeat='tournament in resources.tournaments'>
  <div ng-repeat='division in tournament.divisions'>
    <div ng-if='tournament.single_division == true  || division.division_id == resources.player.linked_division.division_id'>
      <span ng-if='division.metadivision_id != undefined'>
	<purchase-ticketsbutton tokentype='metadivisions' resourcetype='player_tokens' divisionidname='metadivision_id'></purchase-ticketsbutton>
      </span>
      <span ng-if='division.metadivision_id == undefined && tournament.team_tournament == false' >
	<purchase-ticketsbutton tokentype='divisions' resourcetype='player_tokens' divisionidname='division_id'></purchase-ticketsbutton>
      </span>
      <span ng-if='tournament.team_tournament == true && resources.player.team != undefined'>
	<purchase-ticketsbutton tokentype='teams' resourcetype='player_team_tokens' divisionidname='division_id'></purchase-ticketsbutton>
      </span>            
    </div>
  </div>
</div>
<div ng-repeat='tournament in resources.tournaments'>
  <div ng-repeat='division in tournament.divisions'>
    <div ng-if='tournament.single_division == true  || division.division_id == resources.player.linked_division.division_id'>
      <span ng-if='division.metadivision_id != undefined'>
	<purchase-ticketssummarybutton tokentype='metadivisions' resourcetype='player_tokens' divisionidname='metadivision_id'></purchase-ticketssummarybutton><br>
      </span>
      <span ng-if='division.metadivision_id == undefined && tournament.team_tournament == false' >
	<purchase-ticketssummarybutton tokentype='divisions' resourcetype='player_tokens' divisionidname='division_id'></purchase-ticketssummarybutton><br>
      </span>
      <span ng-if='tournament.team_tournament == true && resources.player.team != undefined'>
	<purchase-ticketssummarybutton tokentype='teams' resourcetype='player_team_tokens' divisionidname='division_id'></purchase-ticketssummarybutton><br>
      </span>            
    </div>
  </div>
</div>

<button
   class='btn btn-info btn-xlg'
   ui-sref='.process({addedTokens:added_tokens})'
   > Add Tickets</button><br>
