<div class="panel panel-default big-web-font">
  <div class="panel-heading">
    <h3 class="panel-title big-web-font">Select Tickets</h3>
  </div>
  <div class="panel-body">
<div ng-repeat='tournament in resources.tournaments'>
  <div ng-repeat='division in tournament.divisions'>
    <div ng-if='tournament.single_division == true  || division.division_id == resources.player.linked_division.division_id' style='margin-bottom:15px'>
      <span ng-if='division.metadivision_id != undefined'>
	<purchase-ticketsbutton tokentype='metadivisions' resourcetype='player_tokens' divisionidname='metadivision_id'></purchase-ticketsbutton>
      </span>
      <span ng-if='division.metadivision_id == undefined && tournament.team_tournament == false' >
	<purchase-ticketsbutton tokentype='divisions' resourcetype='player_tokens' divisionidname='division_id'></purchase-ticketsbutton>
      </span>
      <span ng-if='tournament.team_tournament == true && resources.player.team != undefined'>
	<purchase-ticketsbutton tokentype='teams' resourcetype='player_team_tokens' divisionidname='division_id'></purchase-ticketsbutton>
      </span>            
    </div>
  </div>
</div>
  </div>
</div>

<div class="panel panel-default big-web-font">
  <div class="panel-heading">
    <h3 class="panel-title big-web-font">Ticket Summary</h3>
  </div>
  <div class="panel-body">
    <div ng-repeat='tournament in resources.tournaments'>      
      <div ng-repeat='division in tournament.divisions'>
        <div ng-if='tournament.single_division == true  || division.division_id == resources.player.linked_division.division_id'>
          <span ng-if='division.metadivision_id != undefined'>
            <purchase-ticketssummarybutton tokentype='metadivisions' resourcetype='player_tokens' divisionidname='metadivision_id'></purchase-ticketssummarybutton><br>
          </span>
          <span ng-if='division.metadivision_id == undefined && tournament.team_tournament == false' >
            <purchase-ticketssummarybutton tokentype='divisions' resourcetype='player_tokens' divisionidname='division_id'></purchase-ticketssummarybutton><br>
          </span>
          <span ng-if='tournament.team_tournament == true && resources.player.team != undefined'>
            <purchase-ticketssummarybutton tokentype='teams' resourcetype='player_team_tokens' divisionidname='division_id'></purchase-ticketssummarybutton><br>
          </span>
        </div>      
      </div>
    </div>
    <hr>
    <div class='pull-left med-web-font mobile_purchase_ticket_summary_left_column'><i>Total Cost</i></div><div class='pull-right mobile_purchase_ticket_summary_right_column med-web-font'>${{total_cost}}</div>
    
  </div>
</div>
<br>

