      <a	 	 
	 ng-click='change_division_tickets(resources[resourceType], added_tokens, tokenType, division[divisionIdName],-1)'
	 style='width:90%'
	 ng-if='added_tokens[tokenType][division[divisionIdName]]>0'
									  >
	 <i class="pull-left fa fa-minus-circle" aria-hidden="true"> </i></a>	      
<span class='pull-left'>
  <span ng-if='division.metadivision_id != undefined'>
    {{get_metadivision_for_division(resources[tokenType],division['division_id']).name}}
  </span>
  <span ng-if='division.metadivision_id == undefined'>
    {{tournament.name}}
  </span>
  tournament
  <span ng-if='tournament.single_division == false'>
    ,{{division.name}} division
  </span>
  ticket
</span>
<span class='badge big-web-font pull-right' style='margin-top:0px'>{{added_tokens[tokenType][division[divisionIdName]]}} </span>


