<div ui-content-for="title">
  <span>List Player</span>
</div>
<div  ui-content-for="navbarAction">
    <a ui-sref='^' style='font-size:35px'>
      <i class="fa fa-arrow-circle-left" aria-hidden="true"> </i> Back
    </a>
</div>
<div class="scrollable">
  <div class="scrollable-content big-web-font"  style='padding:10px'>
  <div class='form-group input-group' style='margin-left:auto;margin-right:auto;margin-top:25px;margin-bottom:25px;width:50%'>        
    <span style='font-size:20px' class="input-group-addon" id="player-search-name">Search For</span>
    <input
     type='text'
       class='form-control'
       aria-describedby='player-search-name'
       name='filter'
       ng-model='player_filter'
     />
  </div>
  <table class='table'>
    <tr>
      <th>Player #</th>
      <th>Player Name</th>
    </tr>
    <tr ng-repeat="player in resources.players.players|filter:player_filter|orderBy:'first_name'">
      <td>{{player.player_id}}</td>
      <td>{{player.first_name}} {{player.last_name}} <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <i class="fa fa-money" aria-hidden="true"></i></td>
    </tr>
  </table>
    
  </div>
</div>

