<div ui-content-for="title">
  <span>Complete Ticket</span>
</div>
<div  ui-content-for="navbarAction">
</div>
<div  ui-content-for="navbarActionDesc">
</div>

<div class="scrollable">
  <div class="big-web-font scrollable-content"  style='padding:10px'>
    <div ng-repeat='score in resources.entry.scores'>
      {{resources.machines[score.division_machine_id].name}} : {{score.score}}<br>
    </div>
    <br>
    <button
       style='margin-top:15px;'       
       class='btn btn-info btn-xlg big-web-font'
       ui-sref='.process'
       >Submit Ticket</button><br>
    <button
       style='margin-top:15px;'              
       class='btn btn-info btn-xlg big-web-font'
       ng-click='launchVoidModal(resources.player_active_entry.entry.entry_id, resources.player)'
       >Void Ticket</button>    
  </div>
</div>
