<div ui-content-for="title">
  <span>Complete Ticket</span>
</div>
<div ui-view="not_backbutton"></div>

<div class="scrollable">
  <div class="big-web-font scrollable-content"  style='padding:10px'>
    <table class='table'>
      <tr><th colspan=2>Scores On Ticket</th></tr>
      <tr  ng-repeat='score in resources.entry.scores'>
        <td>{{resources.machines[score.division_machine_id].name}}</td><td align=left>{{score.score}}</td>
      </tr>
    </table>
    <button
       style='margin-top:15px;margin-bottom:15px;'       
       class='btn btn-info btn-xlg big-web-font'
       ui-sref='.process'
       >Submit Ticket</button><br>
      <button
	 ng-if='team_tournament == "false"'
	 class='btn btn-xlg big-web-font'
	 style='margin-top:15px;margin-bottom:15px'
         ng-class='void_button_class'
         ng-click='two_step_void()'
	 >
        <span ng-if="void_button_class=='lightred'">Void</span>
        <span ng-if="void_button_class=='red'">Click To Confirm Void</span>
      </button>
      <button
	 ng-if='team_tournament == "true"'
	 class='btn btn-danger btn-xlg big-web-font'
	 style='margin-top:15px; margin-bottom:15px'
	 ng-click='launchVoidModal(resources,"team")'
	 >Void</button>      
  </div>
</div>
