<div ui-content-for="title">
  <span>Tickets Purchased</span>
</div>
<div ui-view="not_backbutton"></div>

<div class="scrollable">
  <div class="big-web-font scrollable-content"  style='padding:10px'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title big-web-font">Tickets Purchased</h3>
      </div>
      <ul class='list-group'  ng-repeat='(tournament_type,tournament) in added_tokens'>
          <span ng-repeat='(div_id,div_count) in added_tokens[tournament_type]'>
            <li class='list-group-item' ng-if='tournament_type == "metadivisions"'> {{resources.metadivisions[div_id].name}} : {{added_tokens.metadivisions[div_id]}}</li>
            <li class='list-group-item' ng-if='tournament_type == "divisions"'> {{resources.divisions[div_id].tournament_name}} : {{added_tokens.divisions[div_id]}}</li>
            <li class='list-group-item' ng-if='tournament_type == "teams"'> {{resources.divisions[div_id].tournament_name}} : {{added_tokens.teams[div_id]}}</li>

          </span>
        </ul>
    </div>

    <button
       class='btn btn-info btn-xlg'
       ui-sref='app.player_purchasetickets'
       > Buy More Tickets </button>
  </div>
</div>
