<div ui-content-for="title">
  <span>Activate Finals</span>
</div>
<div ui-view="backbutton"></div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div class="scrollable-content"  style='padding:10px'>
    <div class='panel panel-default big-web-font'>
      <div class="panel-heading big-web-font">
        Available Divisions
      </div>
      <div class="list-group">
        <a ng-repeat="division in resources.divisions" class="list-group-item" ng-if='!check_division_finals_exists(division.division_id)' ui-sref='app.finals_activate.playerselect({divisionId:division.division_id,finalsPlayerSelectionType:division.finals_player_selection_type,finalsNumberQualifiers:division.finals_num_qualifiers,finalsNumberQualifiersA:division.finals_num_qualifiers_ppo_a,finalsNumberQualifiersB:division.finals_num_qualifiers_ppo_b,finalsNumPlayersPerGroup:division.finals_num_players_per_group,finalsNumGamesPerMatch:division.finals_num_games_per_match})'>          
          {{division.tournament_name}}<i class="fa fa-chevron-right pull-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
