<div ui-content-for="title">
  <span>Activate Finals</span>
</div>
<div ui-view="backbutton"></div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div class="scrollable-content"  style='padding:10px'>
    <div class='panel panel-default big-web-font'>
      <div class="panel-heading big-web-font">
        Available Divisions
      </div>
      <div class="list-group">
        <a ng-repeat="division in resources.divisions" class="list-group-item" ng-if='resources.finals.sorted_by_division_id[division.division_id] == undefined' ui-sref='app.finals_activate.playerselect({divisionId:division.division_id})'>          
          {{division.tournament_name}}<i class="fa fa-chevron-right pull-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
