<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-4' ng-show='Page.has_role("scorekeeper")'>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th>Scoring</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='tournament in data.scoring_tournaments'>
                        <td>
                            <a
                                class='btn btn-info'
                                href='#/scoring/{{tournament.tournament_id}}'
                            >{{tournament.name}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='col-md-4' ng-show='Page.has_role("admin")'>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th>Tournaments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='tournament in data.tournaments'>
                        <td>
                            <a
                                class='btn btn-info'
                                href='#/tournaments/{{tournament.tournament_id}}'
                            >{{tournament.name}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>New Tournament:</h3>
            <form>
                <div class='form-group'>
                    <label for='turnament_name'>Name</label>
                    <input
                        type='text'
                        name='tournament_name'
                        ng-model='data.new_tournament.name'
                    />
                </div>
                <button
                    class='btn btn-success'
                    ng-disabled='!valid_new_tournament()'
                    ng-click='create_tournament()'
                >Create</button>
            </form>
        </div>
        <div class='col-md-4' ng-show='Page.has_role("admin")'>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th>Users</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='user in data.users'>
                        <td>
                            <a
                                class='btn btn-info'
                                href='#/user/{{user.user_id}}'
                            >{{user.username}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Create User:</h3>
            <form>
                <div class='form-group'>
                    <label for='new_un'>Username</label>
                    <input
                        type='text'
                        name='new_un'
                        ng-model='data.new_user.username'
                    />
                </div>
                <div class='form-group'>
                    <label for='new_pwd'>Password</label>
                    <input
                        type='password'
                        name='new_pwd'
                        ng-model='data.new_user.password'
                    />
                </div>
                <div class='form-group'>
                    <label for='new_eml'>Email</label>
                    <input
                        type='text'
                        name='new_eml'
                        ng-model='data.new_user.email'
                    />
                </div>
                <div ng-repeat='role in data.roles'>
                    <label>
                        <input
                            ng-model='data.new_user_roles[role.name]'
                            ng-change='update_new_user_roles()'
                            type='checkbox'>
                            {{role.name}}
                    </label>
                </div>
                <button
                    class='btn btn-success'
                    ng-disabled='!valid_new_user()'
                    ng-click='create_user()'
                >Create</button>
            </form>
        </div>
    </div>
</div>
