<div style='margin:auto;width:75%' class='arrow_box'>
  Purchase Tickets for Player {{player_id}}
</div>
<center>
  <br>
  <br>
  <div ng-repeat='tournament in tournaments'>
    <a
       ng-if='player != undefined && checkSingleDivisionTournament(tournament)==false && checkPlayerLinkedDivision(tournament) == false'
       class='btn btn-info'
       ui-sref='home.playeradd.purchase_multiple_tickets.playeredit({playerId:player_id})'>
      Link player for {{tournament.name}} tournament
    </a>
  </div>
  <div class="list-group" style='width:75%'>
  <span ng-repeat="division in divisions">
    <button
       ng-if='division.name == "all" || (division.name != "all" && matchPlayerLinkedDivision(division)==true)'
       style='width:100%'
       ng-class="purchase_link_class[division.division_id]"
       ng-disabled="existing_num_tickets[division.division_id] + num_purchased_tickets[division.division_id] >= 2"
       ng-click='increment_number_tickets(division.division_id)'
       >
      <span>{{tournaments[division.tournament_id].name}}
	<span ng-if='division.name!="all"'>, Division {{division.name}}</span>
	({{existing_num_tickets[division.division_id]}} existing entries)
      </span>
      <span style='float:right' class='badge'>
	{{num_purchased_tickets[division.division_id]}}	
      </span>
    </button>
  </span>
</div>

<div style='margin:auto;width:75%' class='arrow_box'>
  Purchase Summary
</div>

<div class="list-group" style='width:75%'>
  <a ng-repeat='(div,ticket_count) in num_purchased_tickets'
     class="list-group-item"
     ng-if='ticket_count>0'>
    {{tournaments[divisions[div].tournament_id].name}}<span ng-if='divisions[div].name!="all"'>,{{divisions[div].name}} Division</span> :  {{ticket_count}} tickets
  </a>  
</div>
<button
   class='btn btn-info'
   ui-sref='.process({ticketsPurchased:num_purchased_tickets})'
   ng-if='disablePurchaseButton==false'
   >
  buy tickets
</button>
  <!-- <a href="#" class="list-group-item list-group-item-warning">Dapibus ac facilisis in</a> -->
  <!-- <a href="#" class="list-group-item list-group-item-danger">Morbi leo risus</a> -->
  <!-- <a href="#" class="list-group-item">Porta ac consectetur ac</a> -->
  <!-- <a href="#" class="list-group-item">Vestibulum at eros</a> -->
</div>
</center>
<!--
<div style='width:75%;margin:auto;padding-top:25px'>
  <uib-accordion close-others="true">
    <uib-accordion-group ng-repeat="tournament in tournaments">
      <uib-accordion-heading>
        <span style="font-size:32px;">{{tournament.name}}</span>
      </uib-accordion-heading>
      <span ng-if='checkPlayerLinkedDivision(tournament)==false'>
	<a
	   style="font-size:32px;"
           class='btn btn-info'
           ui-sref='home.ticket.process.playeredit({playerId:player_id})'
           >Click Here To Link Player To Division</a> 
      </span>
      <span ng-repeat='division in tournament.divisions'>
        <span ng-if='displayLinkToPurchase(division) == false'>
	  <span style="font-size:32px;">Player Has Max Entries Purchased.</span>
        </span>
        <span ng-if='displayLinkToPurchase(division) == true'>
          <span ng-if='checkSingleDivisionTournament(tournament) == true'>
	    <a
	       style="font-size:32px;"
               class='btn btn-info'
               ui-sref='home.ticket.process.selecttickets({playerId:player_id,divisionId:division.division_id,divisionName:division.name,tournamentName:tournament.name})'
               >Purchase Tickets In {{tournament.name}}</a> 
          </span>
          <span ng-if='checkSingleDivisionTournament(tournament) == false'>
            <span ng-if='matchPlayerLinkedDivision(division)==true'>
	      <a
		 style="font-size:32px;"
               class='btn btn-info'
               ui-sref='home.ticket.process.selecttickets({playerId:player_id,divisionId:division.division_id,divisionName:division.name,tournamentName:tournament.name})'
               >Purchase Tickets In {{division.name}} division</a> 
            </span>            
          </span>          
        </span>        
      </span>
    </uib-accordion-group>  
  </uib-accordion>
</div>
-->
