<!DOCTYPE html>
<html ng-app="TOMApp" ng-controller="IndexController">
	<head>
		<title>Tournament Operations Manager | {{ Page.title() }}</title>
		<link rel="stylesheet" href="screen.css">
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
        <h1>Tournament Operations Manager</h1>
        <button
            class='btn btn-danger'
            ng-if='!!Page.logged_in_user().user_id'
            ng-click='logout()'
        >
            Logout {{Page.logged_in_user().username}}
        </button>
        <button
            class='btn btn-info'
            ng-if='!Page.logged_in_user().user_id'
            ng-click='login()'
        >
            Login
        </button>
        <div ncy-breadcrumb></div>
		<div ui-view></div>
	</body>
</html>
