  <div style='margin:auto;width:50%' class='arrow_box'>
    Add Player   
  </div>
      <div class='form-group input-group' style='margin-left:auto;margin-right:auto;margin-top:25px;margin-bottom:25px;width:25%;'>        
        <span class="input-group-addon" id="player-first-name">First Name</span>
        <input
           type='text'
           class='form-control'
           aria-describedby='player-first-name'
           name='filter'
           ng-model='new_player.first_name'
           />
      </div>
        <div class='form-group input-group' style='margin-left:auto;margin-right:auto;margin-top:25px;margin-bottom:25px;width:25%'>        
          <span class="input-group-addon" id="player-last-name">Last Name</span>
          <input
             type='text'
             class='form-control'
             aria-describedby='player-last-name'
             name='filter'
             ng-model='new_player.last_name'
             />          
        </div>
        <div class='form-group input-group' style='margin-left:auto;margin-right:auto;margin-top:25px;margin-bottom:25px;width:25%'>        
          <span class="input-group-addon" id="player-email">Email</span>
          <input
             placeholder='email is optional'
             type='text'
             class='form-control'
             aria-describedby='player-email'
             name='filter'
             ng-model='new_player.email'
             />
        </div>
        <div style='margin:auto;margin-bottom:25px;width:25%'>
        <button 
           class='btn btn-info'
           ng-click="create_player()"
           ><span class="glyphicon glyphicon-plus"></span> Add Player</button>
        </div>

  <table style='width:50%;margin:auto' class='table table-bordered'>
    <thead>
      <tr>
        <th>Added Players <span style='float:right'>Player Number</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='player in players'>
        <td>          
          <a
             class='btn btn-info'
             ui-sref='playerlist.playeredit({playerId:player.player_id})' 
             ><span
                 class='glyphicon glyphicon-pencil'
                 ></span><span style='padding-left:10px'>{{player.first_name}} {{player.last_name}}</span></a>
          <span style='float:right' class="badge"> {{player.player_id}} </span>
        </td>
      </tr>
    </tbody>
  </table>
</center>
