  <div style='margin:auto;width:50%' class='arrow_box'>
    Player List  
  </div>
  <table style='width:50%;margin:auto;' class='table'>
    <tr>
  <div class='form-group input-group' style='margin-left:auto;margin-right:auto;margin-top:25px;margin-bottom:25px;width:25%'>    
    
    <span class="input-group-addon" id="player-search-name">Search For</span>
    <input
     type='text'
       class='form-control'
       aria-describedby='player-search-name'
       name='filter'
       ng-model='player_filter'
     />
  </div>
  <div style='width:50%;margin:auto'>
  <uib-accordion close-others="true">

    <uib-accordion-group ng-repeat="player in players|filter:player_filter">
      <uib-accordion-heading>
        <span>{{player.first_name}} {{player.last_name}}</span> <span style='float:right' class='badge'>{{player.player_id}}</span>
      </uib-accordion-heading>
      <a
             class='btn btn-info'
             ui-sref='home.playerlist.playeredit({playerId:player.player_id})' 
         ><span class='glyphicon glyphicon-pencil'></span>
        Set/Change Linked Division
      </a>
      <a
             class='btn btn-info'
             ui-sref='home.playerlist.entryedit({playerId:player.player_id})' 
         ><span class='glyphicon glyphicon-pencil'></span>
        Edit Entries
      </a>      
    </uib-accordion-group>
  </uib-accordion>
  </div>
<!--  <table style='width:50%;margin:auto' class='table table-bordered'>
    <thead>
      <tr>
        <th>Players <span style='float:right'>Player Number</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='player in players|filter:player_filter'>
        <td>          
          <a
             class='btn btn-info'
             ui-sref='home.playerlist.playeredit({playerId:player.player_id})' 
             ><span
                 class='glyphicon glyphicon-pencil'
                 ></span><span style='padding-left:10px'>{{player.first_name}} {{player.last_name}}</span></a>
          <span style='float:right' class="badge"> {{player.player_id}} </span>
        </td>
      </tr>
    </tbody>
  </table>-->

