<div  style='margin:auto;width:75%' class='arrow_box'>
  Score Entered!
</div>
<center>
<div style='margin-top:25px;margin-bottom:25px'>
    <span style='font-size:32px'>{{player.first_name}} {{player.last_name}} (#{{player.player_id}}) on the machine {{machine.name}} got the score {{new_score}}</span>
</div>
<br>
<a
   style='font-size:32px'
   ng-if='entry.scores.length < entry.number_of_scores_per_entry'
   class='btn btn-info'
   ui-sref='^.^.^'
   >Proceed</a>
<a
   style='font-size:32px'
   ng-if='entry.scores.length >= entry.number_of_scores_per_entry'
   class='btn btn-info'
   ui-sref='^.^.^.complete({entryId:entry.entry_id,playerId:player.player_id})'
   >Complete</a>
</center>
