<div style='margin:auto;width:75%' class='arrow_box'>
  <span ng-if='division.name != "all"'>{{division.name}}</span>
  <span ng-if='division.name == "all"'>{{}}</span>
  {{tournament.name}} Machines
</div>
<div style='width:75%;margin:auto;padding-top:25px'>
  <center>
    <span ng-repeat='machine in division.machines'>
      <!-- link for free machine -->
      <a
	 ng-if='machine.player == undefined'
	 style='font-size:32px;width:100%'
     class='btn btn-info'
     ui-sref='home.scorekeeper.selectmachine.genericplayerselect_selected({machineName:machine.name,machineId:machine.machine_id,pageTitle:"Scorekeeping"})'
       >{{machine.name}}</a>
      <!-- link for machine in use -->
      <a
	 ng-if='machine.player != undefined'
	 style='font-size:32px;width:100%'	 
	 class='btn btn-warning'
	 ui-sref='home.scorekeeper.selectmachine.recordscore({machineId:machine.machine_id,playerId:machine.player.player_id})'
	 >{{machine.name}}</a>
      <br>
    </span>
    <a
   style='font-size:32px'	 
   class='btn btn-danger'
   ui-sref='home.scorekeeper.selectmachine.voidplayersearch({pageTitle:"Void Player"})'
   >Void Ticket</a>

  </center>
</div>
