<div style='margin:auto;width:75%' class='arrow_box'>
  Previous Scores On Ticket
</div>
<div ng-repeat='score in entry.scores' style='margin:auto;margin-top:25px;margin-bottom:25px;width:75%'>
  <center>
    <span    style='font-size:32px' class='badge'>{{machines[score.machine_id].name}}</span> : <span    style='font-size:32px'>{{score.score}}</span>
    </center>
</div>

<div  style='margin:auto;width:75%' class='arrow_box'>
  Complete Entry for {{player.first_name}} {{player.last_name}} (#{{player.player_id}})
</div>
<div style='margin:auto;width:75%;margin-top:25px'>
<center>
  <a
     style='font-size:32px'
   class='btn btn-info'
   ui-sref='.process'
     >Complete Ticket</a>
      <a
	 class='btn btn-danger btn-lg'
	 style='font-size:32px'
	 ng-click='voidEntry(entry.entry_id,player)'
	 >VOID TICKET</a>              
  </center>
</div>

