<div ng-if='player_active_entry.scores.length > 0' style='margin:auto;width:75%' class='arrow_box'>
  Ticket Summary
</div>
<div ng-repeat='score in player_active_entry.scores' style='margin:auto;margin-top:25px;margin-bottom:25px;width:75%'>
  <center>
    <span style='font-size:32px;' class='badge'>{{machines[score.machine_id].name}}</span> : <span style='font-size:32px'>{{score.score}}</span>
    </center>
</div>

<div  style='margin:auto;width:75%' class='arrow_box'>
  Submit Score
</div>
<center>
  <table style='font-size:32px;padding-top:25px;'>
    <tr>
      <td align=right> Player : 
      </td>
      <td>{{player.first_name}} {{player.last_name}}
      </td>
    </tr>
    <tr>
      <td align=right> Machine : 
      </td>
      <td>{{machine.name}}
      </td>
    </tr>
  </table>
</center>
<div style='margin:auto;width:75%;margin-top:25px'>
  <center>
    <div style='font-size:32px;height:40px'>
      {{formatted_score.score}}
    </div>
  <table>
    <tr>
    <td colspan=2>
<!--<input type="text" pattern="[0-9]*">-->
<!--      <div class='form-group input-group input-group-lg' style='margin-left:auto;margin-right:auto;margin-top:25px;margin-bottom:25px;'>        
        <span class="input-group-addon" id="new_score">Score</span>-->
  </div>  </td></tr><tr><td><span
   style='font-size:32px'>
  {{new_score|number}}
</span>
<br><a
		      class='btn btn-info btn-lg'
		         style='font-size:32px'
		      ui-sref='.process()'
       >Submit Score</a>
<br>
<a
   class='btn btn-info btn-lg'
   style='font-size:32px'
   ui-sref='^.player_is_an_asshole'
   >Player Is An Asshole</a>
    </td>
    </tr>
  </table>
  </center>
</div>

