<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-4'>
            <h3>Add entry:</h3>
            <form>
                <div class='form-group'>
                    <label for='division'>Division</label>
                    <select
                        name='division'
                        ng-model='data.new_entry.division'
                        ng-options='division.name for division in data.tournament.divisions'
                    >
                    </select>
                    <label for='player'>Player</label>
                    <input
                        type='text'
                        name='player'
                        ng-model='data.new_entry.player'
                        typeahead='player as player.first_name + " " + player.last_name for player in player_search($viewValue)'
                        typeahead-editable='false'
                        typeahead-loading='loading_player'
                        typeahead-template-url='player_item.html'
                    />
                    <i ng-show="loading_player" class="glyphicon glyphicon-refresh"></i>
                </div>
                <button
                    ng-click='add_entry()'
                    ng-disabled='!valid_entry()'
                    class='btn btn-success'
                >Add</button>
            </form>
        </div>
        <div class='col-md-4'>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th colspan='4'>Free Entries</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Division</th>
                        <th>Player</th>
                        <th>Machine</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='entry in data.grouped_free_entries'>
                        <td>{{entry.count}}</td>
                        <td>{{entry.division.name}}</td>
                        <td>
                            {{entry.player.first_name}}
                            {{entry.player.last_name}}
                        </td>
                        <td>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>

<script type='text/ng-template' id='player_item.html'>
    <a>
        {{match.model.first_name}}
        {{match.model.last_name}}
    </a>
</script>
