<h3>Divisions:</h3>
<table class='table table-bordered'>
    <tr ng-repeat='division in data.tournament.divisions'>
        <td>
            <a
                class='btn btn-info'
                ui-sref='home.tournament.division({divisionId:division.division_id})'
            >{{division.name}}</a>
        </td>
    </tr>
</table>
{{data.tournament.active ? "Running" : "Off"}}
<button
    class='btn btn-danger'
    ng-click='toggle_tournament()'
>{{data.tournament.active ? "Stop" : "Start"}}</button>
<h3>New Division:</h3>
<form>
    <div class='form-group'>
        <label for='name'>Name</label>
        <input type='text' name='name' ng-model='data.new_division.name'/>
    </div>
    <button
        class='btn btn-default'
        ng-click='create_division()'
    >Create</button>
</form>
