<h2>Tournaments</h2>
<table class='table table-bordered'>
    <tbody>
        <tr ng-repeat='tournament in data.tournaments'>
            <td>
                <a
                    class='btn btn-info'
                    href='#/tournaments/{{tournament.tournament_id}}'
                >{{tournament.name}}</a>
            </td>
        </tr>
    </tbody>
</table>
<h3>New Tournament:</h3>
<form>
    <div class='form-group'>
        <label for='name'>Name</label>
        <input type='text' ng-model='data.new_tournament.name' />
    </div>
    <button
        class='btn btn-default'
        ng-click='create_tournament()'
    >Create</button>
</form>
