<div ui-content-for="title">
  <span>Edit Tournaments</span>
</div>
<div  ui-content-for="navbarAction">
    <a ui-sref='^' style='font-size:35px'>
      <i class="fa fa-arrow-circle-left" aria-hidden="true"> </i> Back
    </a>
</div>
<div class="scrollable">
  <div class="scrollable-content"  style='padding:10px'>   
    <div ng-repeat='tournament in tournaments'>
      <a
	 ng-if='tournament.single_division==true'
	 class='btn btn-info btn-xlg'
	 ui-sref='app.tournament_edit.machine_add({divisionId:tournament.divisions[0].division_id,tournamentName:tournament.name,singleDivision:true})'
	 > Edit {{tournament.name}} Tournament</a>
      <div
      ng-repeat='division in tournament.divisions'
	 ng-if='tournament.single_division==false'>
	<a
	   class='btn btn-info btn-xlg'
	   ui-sref='app.tournament_edit.machine_add({divisionId:division.division_id,tournamentName:tournament.name,singleDivision:false})'
	   > Edit {{tournament.name}} Tournament, {{division.name}} Division</a>
	<br>
      </div>
    </div>
  </div>
</div>
