<div ui-content-for="title">
  <span>Select Tournament</span>
</div>
<div  ui-content-for="navbarAction">
    <a ui-sref='^' style='font-size:35px'>
      <i class="fa fa-arrow-circle-left" aria-hidden="true"> </i> Back
    </a>
</div>
<div class="scrollable">
  <div class="scrollable-content"  style='padding:10px'>   
    <div ng-repeat='tournament in resources.tournaments'>
      <table ng-if='tournament.single_division==true'>
	<td>
	  <a
	     class='btn btn-info btn-xlg'
	     ui-sref='app.tournamentselect_machine_add.machine_add({divisionId:tournament.divisions[0].division_id,tournamentName:tournament.name,singleDivision:true})'
	     > Edit {{tournament.name}} Tournament Machines</a>
	</td>
	<td>
	</td>
      </table>
      
      <div
      ng-repeat='division in tournament.divisions'>
	<table ng-if='tournament.single_division==false'>
	  <td>
	    <a
	       class='btn btn-info btn-xlg'
	       ui-sref='app.tournamentselect_machine_add.machine_add({divisionId:division.division_id,tournamentName:tournament.name,singleDivision:false})'
	       > Edit {{tournament.name}} Tournament, {{division.name}} Division Machines</a>  
	  </td>
	  <td>
	  </td>
	</table>
      </div>
    </div>
  </div>
</div>
