<div ui-content-for="title">
  <span>Join Queue</span>
</div>
<div ui-view="backbutton"></div>
<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div class="scrollable-content"  style='padding:10px'>
    <center>
      <div ng-repeat='machine in resources.division.machines' ng-if="machine.removed == false">
        <button style='margin-bottom:10px;width:95%' ui-sref='.confirm({divisionMachineId:machine.division_machine_id})' class='btn btn-info btn-xlg'>
          {{machine.name}} ({{resources.division_queue[machine.division_machine_id].length}})
        </button>

      </div>
    </center>
    <br>
    <br>
  </div>
</div>
