<div ui-content-for="title">
  <span>Create Tournament</span>
</div>
<div ui-view="backbutton"></div>

<div class="scrollable">
  <div ui-view='tournament_add_progress'></div>
  <div class="scrollable-content"  style='padding:10px'>
	    <form>
	      <div class='form-group form-group-xlg input-group input-group-xlg'>        
		<span  class="input-group-addon" id="tournament_name">Tournament Name</span>
		<input
		   type='text'
		   class='form-control'
		   aria-describedby='tournament_name'
		   ng-model='tournament.tournament_name'
		   />
	      </div>
	      <!-- FIXME : need to add option for allowing teams in trounament/division-->
	      <table>
		<td class='form-group-xlg'>
		  <select class='form-control' ng-model='tournament.scoring_type'>		    
		    <option value="papa">Papa Scoring</option>
                    <option value="herb">Herb Scoring</option>
		  </select>
		</td>
		<td class='big-web-font' style='padding-left:10px'>
		  Type of Tournament
		</td>
	      </table>
              
	      <table style='margin-top:15px'>
		<td>
	      <input		 
	      	 type='checkbox'
	      	 name='single_division'
	      	 ng-model='tournament.single_division'
		 class='big-web-font'
	      	 style='margin-left:10px;margin-right:10px;margin-top:0px;height:40px;width:40px;vertical-align:middle;'
	      	 />
		</td>
		<td>
	      	    <span class='big-web-font'>Is this a single division tournament?</span>
		</td>
	      </table>
	      <table style='margin-top:15px'>
		<td>
	      <input		 
	      	 type='checkbox'
	      	 name='team_tournament'
	      	 ng-model='tournament.team_tournament'
		 class='big-web-font'
	      	 style='margin-left:10px;margin-right:10px;margin-top:0px;height:40px;width:40px;vertical-align:middle;'
	      	 />
		</td>
		<td>
	      	    <span class='big-web-font'>Is this a team tournament?</span>
		</td>
	      </table>
      	      <div ui-view='division_config_params' ng-if='tournament.single_division == true'></div>

	      <br>
	      <!-- FIXME : need to make sure non 0/empty value entered for scores per ticket -->
	    </form>
	    <br>
	    <button
	       ng-disabled='tournament.tournament_name == undefined ||
                            tournament.tournament_name == "" ||
                            (tournament.single_division == true && tournament.scoring_type == "papa" && form_division.number_of_scores_per_entry == undefined ) ||
                            (tournament.single_division == true && resources.tom_config.use_stripe == true && form_division.stripe_sku == undefined )'
	       class='btn btn-info btn-xlg'
	       ui-sref='app.tournament_add.process({tournamentInfo:tournament})'
	       > Create Tournament</button>
  </div>
</div>
