<div ui-content-for="title">
  <span>Tournaments</span>
</div>
<div ui-content-for="navbarAction">
  <div class="btn">
    <a ui-sref='^'>
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back
    </a>
  </div>
</div>
<div class="scrollable">
  <div class="scrollable-content">
	  <h2>
	    Add Tournament
	  </h2>
	  
	    <form>
	      <div class='form-group form-group-lg input-group input-group-lg'>        
		<span class="input-group-addon" id="tournament_name">Tournament Name</span>
		<input
		   type='text'
		   class='form-control'
		   aria-describedby='tournament_name'
		   ng-model='tournament.tournament_name'
		   />
	      </div>
	      <input
	      	 type='checkbox'
	      	 name='single_division'
	      	 ng-model='tournament.single_division'
	      	 style='margin-left:10px;margin-right:10px;height:40px;width:40px;vertical-align:middle'
	      	 />
	      <label for='single_division'>
	      	Is this a single division tournament?
	      </label>
	      <br>
	    </form>
	    <a
	       class='btn btn-info'
	       ng-click='create_tournament()'
	       > Create Tournament</a>
  </div>
</div>
