<div ui-content-for="title">
  <span>Add Player</span>
</div>
<div  ui-content-for="navbarAction">
</div>
<div  ui-content-for="navbarActionDesc">
</div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div class="scrollable-content big-web-font"  style='padding:10px'>
    <span ng-if='team_tournament == "false"'>
      Player #{{player_id}} has been declared a Jagoff!!
    </span>
    <span ng-if='team_tournament == "true"'>
      The following players have been declared jagoffs: <br>
      <div ng-repeat='player in resources.team.players'>
        {{player.first_name}} {{player.last_name}} (#{{player.player_id}})
      </div>
    </span>
    <br>
      <a
	 class='btn btn-info btn-xlg big-web-font'
	 style='width:50%;margin:auto'
	 ui-sref='^.^.^'
	 >Return To Machine Select</a>
  </div>
</div>
