<div ui-content-for="title">
  <span>Select Division</span>
</div>
<div ui-view="backbutton"></div>
<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
    <div class="scrollable-content big-web-font"  style='padding:10px'>
      <!--<div ng-if="resources.player_queue.player_id != undefined">
        OOPS!  Player #{{player_id}} is already on a queue!
      </div>-->
      <div ng-repeat="division in resources.divisions">
        <center>
        <button style='width:95%' ui-sref='.division_machines({divisionId:division.division_id})' class='btn btn-info btn-xlg'>
          {{division.tournament_name}}
        </button>
        <br>
        <br>
        </center>
      </div>
    </div>
</div>
