<div class="modal-body">
<!--	<i class='glyphicon glyphicon-refresh' ng-show='!modal.message'></i>
	<span ng-bind='modal.message'></span>-->
	<span ng-bind='modal.message'></span>
	<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
	<span class="sr-only">Loading...</span>
	<span ng-if='displayDebugMsg == true'>Debug Msg : {{debug_msg}}</span>
	<br>
	<br>
	<a
	   ng-click='displayDebugMsg=!displayDebugMsg'
	   >Show Debug Msg</a>
</div>
<!--<div class="modal-footer">
	<button type="button" class="btn btn-modal" ng-click="$close()" ng-disabled="!modal.message">OK</button>
</div>-->
