<div ui-content-for="title">
  <span>Select Machine</span>
</div>
<div  ui-content-for="navbarAction">
    <a ui-sref='^' style='font-size:35px'>
      <i class="fa fa-arrow-circle-left" aria-hidden="true"> </i>
    </a>
</div>
<div  ui-content-for="navbarActionDesc">
  <span class='big-web-font'>  Back </span> 
</div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div class="big-web-font scrollable-content"  style='padding:10px'>
    <div ng-repeat='machine in resources.division.machines|orderBy:"name"|filter:{removed:"false"}'>
      <button
         style='width:75%;margin-bottom:15px'
	 ng-if='machine.player_id == undefined && machine.team_id == undefined'
	 class='btn btn-success btn-xlg'
	 ui-sref='.playerselect_scorekeeper({divisionMachineId:machine.division_machine_id})'
	 > {{machine.name}}
      </button>
      <button
         style='width:75%;margin-bottom:15px'         
	 ng-if='machine.player_id != undefined || machine.team_id != undefined'
	 class='btn btn-warning btn-xlg'
	 ui-sref='.recordscore_scorekeeper({divisionMachineId:machine.division_machine_id,playerId:machine.player_id,teamId:machine.team_id})'
	 > {{machine.name}}	
      </button>
    </div>
  </div>
</div>
