<div ui-content-for="title">
  <span>Select Machine</span>
</div>
<div ui-view="backbutton"></div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div class="big-web-font scrollable-content"  style='padding:10px'>
    <div ng-repeat='machine in resources.division.machines|orderBy:"name"|filter:{removed:"false"}'>
      <button
         style='width:75%;margin-bottom:15px'
	 ng-if='machine.player_id == undefined && machine.team_id == undefined'
	 class='btn btn-success btn-xlg'
	 ui-sref='.playerselect_scorekeeper({divisionMachineId:machine.division_machine_id})'
	 > {{machine.name}} <img ng-if="resources.division_queue[machine.division_machine_id].length > 0" src='/images/waiting_room.png' width='32'>
        <div style='font-size:16px'>
          &nbsp;
          <span ng-if="resources.division_queue[machine.division_machine_id].length > 0">
            {{resources.division_queue[machine.division_machine_id][0].first_name}} {{resources.division_queue[machine.division_machine_id][0].last_name}}
          </span>
        </div>
      </button>
      <button
         style='width:75%;margin-bottom:15px'         
	 ng-if='machine.player_id != undefined || machine.team_id != undefined'
	 class='btn btn-warning btn-xlg'
	 ui-sref='.recordscore_scorekeeper({divisionMachineId:machine.division_machine_id,playerId:machine.player_id,teamId:machine.team_id})'
	 > {{machine.name}}	
      </button>
    </div>
  </div>
</div>
