<div ui-content-for="title">
  <span>Player Added To Machine</span>
</div>
<div ui-view="not_backbutton"></div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div class="scrollable-content big-web-font"  style='padding:10px'>
    <span ng-if='team_tournament=="false"'>
      {{resources.player.first_name}} {{resources.player.last_name}}     
    </span>
    <span ng-if='team_tournament=="true"'>
      Team {{resources.player.team.team_name}} 
    </span>
    is now playing on {{resources.division_machine.name}}
    <br>
    <br>
    <button
       class='btn btn-info btn-xlg'
       ui-sref='^.^'
       > Return To Machine Select
    </button>    
    <br>
    <br>
    <button
       class='btn btn-xlg'
       ng-class='undo_button_class'
       ng-click='two_step_undo()'
       >
        <span ng-if="undo_button_class=='lightred'">Undo player select</span>
        <span ng-if="undo_button_class=='red'">Click To Confirm Undo</span>
    </button>
    
    <br>
  </div>
</div>
