<div ui-content-for="title">
  <span>Edit Player Entries</span>
</div>
<div  ui-content-for="navbarAction">
    <a ui-sref='^' style='font-size:35px'>
      <i class="fa fa-arrow-circle-left" aria-hidden="true"> </i>
    </a>
</div>
<div  ui-content-for="navbarActionDesc">
  <span class='big-web-font'>  Back </span> 
</div>

<div class="scrollable">
  <div class="scrollable-content big-web-font"  style='padding:10px'>
    Player {{resources.player.first_name}} {{resources.player.last_name}} (#{{resources.player.player_id}})
    <hr>
    <span ng-if='resources.player.linked_division.name != undefined'>Player is in {{resources.player.linked_division.name}} division </span>
    <span ng-if='resources.player.linked_division.name == undefined'>Player is not linked to any division </span>
    
    <a
       class='btn btn-info'
       ui-sref='.link_division'
       >Change Linked Division</a><br>
    <hr>
    Edit entries :  
    <br>
    <div style='margin-left:auto;margin-right:auto;' ng-repeat="(division_id,division_entries) in resources.player_entries">
      <div ng-repeat='(entry_id,entry) in division_entries' class='panel'>
	<span>
	  <b>ENTRY #{{entry.entry_id}}</b> <span class='badge' style='background:red;font-size:16px;' ng-if='entry.voided'>VOIDED</span>
	</span>
	<table class='table' style='width:100%'>
	  <td style='padding:5px;border-style:solid;border-width:0;border-right-width:1px;width:20%' ng-repeat='score in entry.scores'>
	    {{truncateString(resources.machines[score.division_machine_id].name,10)}}
	  </td>
	</table>
	<ui-switch ng-change='setEntryVoidStatus(entry.voided,entry)' class='pull-left' ng-model='entry.voided'></ui-switch>
	<span style='padding-left:10px' class='big-web-font'>Click to
	  <span ng-if='entry.voided == false'>Void</span>
	  <span ng-if='entry.voided == true'>UnVoid</span>
	</span>
	<br>
        <span ng-if='entry.scores.length == entry.number_of_scores_per_entry'>
	<ui-switch ng-change='setEntryCompleteStatus(entry.voided,entry)' class='pull-left' ng-model='entry.completed'></ui-switch>
	<span style='padding-left:10px' class='big-web-font'>Click to
	  <span ng-if='entry.completed == false'>Complete</span>
	  <span ng-if='entry.completed == true'>UnComplete</span>          
	</span>
        </span>       
	<table>
          <tr ng-repeat='score in entry.scores' ng-if='score.removed == undefined'>
            <td>
              <a ng-click='remove_score(score)'><span class="fa fa-times-circle pull-right" style='color:red'></a>
            </td>
            <td>
              <input type="text" ng-change='score_and_machine_change(score)' placeholder='{{resources.machines[score.division_machine_id].name}}' ng-model="score.machine" uib-typeahead="machine as machine.name for machine in machines_array | filter:$viewValue | limitTo:8" class="form-control">
            </td>
            <td>
              <input ng-change='score_and_machine_change(score)' type="text" ng-model="score.score" class="form-control">
            </td>
            <td>
              <a
		 ng-if='score.changed != undefined'
		 class='btn btn-info'
		 ng-click='change_score(score)' 
		 >save score</a>
              <!-- <a class='btn btn-success' -->
	      <!-- 	 ng-if='score_modified[score.score_id] == "updated"'> -->
	      <!-- 	Successfully updated score. -->
              </a>
            </td>
          </tr>
	</table>	
      </div>
    </div>
  </div>
</div>

