<div ui-content-for="title">
  <span>Edit Player Entries</span>
</div>
<div ui-view="backbutton"></div>

<div class="scrollable">
  <div class="scrollable-content big-web-font"  style='padding:10px'>
    Player {{resources.player.first_name}} {{resources.player.last_name}} (#{{resources.player.player_id}})
    <hr>
    <span ng-if='resources.player.linked_division.name != undefined'>Player is in {{resources.player.linked_division.name}} division </span>
    <span ng-if='resources.player.linked_division.name == undefined'>Player is not linked to any division </span>
    
    <a
       class='btn btn-info'
       ui-sref='.link_division'
       >Change Linked Division</a><br>
    <hr>
    Edit entries :  
    <br>
    <div style='margin-left:auto;margin-right:auto;' ng-repeat="(division_id,entries) in  player_entries|orderObjectBy:'entry_id':true">    
      <div ui-view='edit_entries'></div>
    </div>
  </div>
</div>

