<nav class="navbar navbar-default twopfont">
  <ul class="nav nav-pills">	
    <li class='nav-item' ng-if='!Page.logged_in_user().user_id'>
      <a
	 style='border-width:0'
         class='navbarlink'
         ui-sref='home.login'
         ><span style='color:red' class='glyphicon glyphicon-user'></span>
      </a>
    </li>
    <li                        ng-if='Page.logged_in_user().user_id'>
      <a
	 style='border-width:0'
         class='navbarlink'
         ng-click='logout()'
         ><span style='color:green;' class='glyphicon glyphicon-user'></span>
      </a>
    </li>
    <li 		       ng-if='Page.has_role("desk")' >
      <a
         class='navbarlink'
         ui-sref='home.playerlist'
         >Players</a>
    </li>
    <li  ng-if='Page.has_role("desk")' >
      <a
         class='navbarlink'
         ui-sref='home.playeradd'
         >Add Player</a>
    </li>
    
    <li ng-if='Page.has_role("admin")' >
      <a
         class='navbarlink'
         ui-sref='home.tournament'
         >Tournaments</a>
    </li>
    <li ng-if='Page.has_role("desk")' >
      <a
         class=navbarlink
         ui-sref='home.ticket({pageTitle:"Purchase Tickets"})'
         >Tickets</a>
    </li>                  
    <li 	       ng-if='Page.has_role("scorekeeper")' >
      <a
	 
         class='navbarlink'
         ui-sref='home.scorekeeper'
         >Scorekeeping</a>
    </li>
    <li>
      <a ng-if='!Page.has_role("admin")'
	 ui-sref='home.adminplayersearch'
         class='navbarlink'
         >Player</a>
      <a ng-if='Page.has_role("admin")'
	 ui-sref='home.godplayersearch'
         class='navbarlink'
         >Player</a>	  
    </li>
    <li ng-if='Page.has_role("admin")'>
      <a 
	 ui-sref='home.godassholesearch'
         class='navbarlink'
         >Assholes</a>	  	  
    </li>
  </ul>
</nav>
