<div ui-content-for="title">
  <span>Record Finals Scores</span>
</div>
<div ui-view="backbutton"></div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div id="myScrollableContent" class="scrollable-content"  style='padding:10px'>
    <div>
      <div ng-repeat="slot in resources.finals_match.slots">
        {{slot.finals_player_ex.player_name}} : {{calculate_player_total_points_in_match(resources.finals_match,slot.finals_player_ex.finals_player_ex_id)}}
      </div>
      <br>
      <div ng-repeat='finals_match_result_ex in resources.finals_match.results|orderBy:"game_number"' class='table'>
	<table class='table'>
	  <tr><td class='info'>Machine</td><td class='info'>
                <input type="text" ng-change='finals_match_result_ex.dirty=true'  ng-model="finals_match_result_ex.finals_machine" uib-typeahead="machine as machine.name for machine in resources.machines | orderObjectBy:'name':true | filter:$viewValue | limitTo:8" class="form-control" placeholder={{finals_match_result_ex.machine.name}}>

	    </td>
	    <td class='info'>
	      <button
                 ng-disabled='!finals_match_result_ex.dirty || match_finished()'
	         ng-click='save_machine(finals_match_result_ex)'
	         class='btn info'> Save Machine</button>
	    </td>

	  </tr>
	  <tr ng-repeat='score in finals_match_result_ex.scores|orderBy:"order"'>
            <td>
              <select ng-model="score.finals_player_ex_id"
                      ng-change="score.dirty=true"
                      ng-options="finals_match_slot_ex.finals_player_ex_id as finals_match_slot_ex.finals_player_ex.player_name 
                                  disable when (mark_taken_player_as_disabled(finals_match_result_ex.scores,finals_match_slot_ex.finals_player_ex_id,score)) 
                                  for finals_match_slot_ex in resources.finals_match.slots">
                <option> </option>

            </select>
            </td>
            <td>
              {{score.rank}}
            </td>
            <td>
	      <!--<input type="text" ng-model="score.score" class="form-control" ng-change='score.dirty=true' ng-disabled='!score.finals_player_ex_id || !finals_match_result_ex.finals_machine_id || match_finished() || finals_match_result_ex.result_state=="finished"'/>-->
	      <input type="tel" ng-model="score.score" 	 ng-change='onScoreChange(score)' class="form-control" ng-change='score.dirty=true' ng-disabled='!score.finals_player_ex_id || !finals_match_result_ex.finals_machine_id || match_finished() || finals_match_result_ex.result_state=="finished"'/>              
            </td>
	    <td>
              <button
                 ng-disabled='!score.dirty'
	         ng-click='save_result_score(finals_match_result_ex,score)'
	         class='btn info'> Save Score</button>

	      <!--{{score.score|number}} ({{4-$index}} Points) <!--{{resources.finals_matches[1][match_id].finals_players[score.finals_player_id].status}})-->
	    </td>
	  </tr>
	</table>
        <span ng-if="finals_match_result_ex.result_state=='scores_recorded'">
          <button
	     ng-click='save_result_finished(finals_match_result_ex)'
	     class='btn info'> Save Game</button>
        </span>
      </div>

      <span  ng-if="match_has_tiebreakers()">
        <table class='table'>
	  <tr><td class='info'>Tie Breaker</td></tr>
          <tr ng-repeat="slot in resources.finals_match.slots">
            <td ng-if="slot.tie_breaker == true">
              <input
	         style='margin-top:0px;height:40px;width:40px;vertical-align:middle;'
                 type="checkbox" ng-model="slot.tie_breaker_result" />
              {{slot.finals_player_ex.player_name}}          
            </td>
          </tr>
        </table>
        <button
	   ng-click='save_tiebreaker()'
	   class='btn info'> Save Tiebreaker
        </button>
      </span>
    </div>
  </div>
</div>
