<div ui-content-for="title">
  <span>Activate Tournaments</span>
</div>
<div  ui-content-for="navbarAction">
    <a ui-sref='^' style='font-size:35px'>
      <i class="fa fa-arrow-circle-left" aria-hidden="true"> </i>
    </a>
</div>
<div  ui-content-for="navbarActionDesc">
  <span class='big-web-font'>  Back </span> 
</div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
    <div class="scrollable-content"  style='padding:10px'>
      <div ng-repeat='tournament in resources.tournaments' style='margin-bottom:15px'>
	<ui-switch ng-change='toggle_tournament(tournament)' class='pull-left' ng-model='tournament.active'></ui-switch>
        <span ng-if='tournament.active==false' style='padding-left:10px' class='big-web-font'>Activate </span>
        <span ng-if='tournament.active==true' style='padding-left:10px' class='big-web-font'>Deactivate </span>        
        <span class='big-web-font'>{{tournament.name}} Tournament</span>
      </div>
    </div>
  </div>
</div>
