<div ui-content-for="title">
  <span>Select Players For Finals</span>
</div>
<div ui-view="backbutton"></div>
<div class="scrollable big-web-font">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->  
  <button
     style='margin-top:25px;margin-bottom:15px'
     ng-disabled='(resources.ranked_players.ranked_players | filter:{checked: true }).length > num_qualifiers'
     class='btn btn-info btn-xlg'
     ui-sref='.process({checkedPlayers:resources.ranked_players.ranked_players})'
     > Start Finals</button>
  <br>
  <span ng-class='num_players_selected.css_class'>Num Players Selected : {{(resources.ranked_players.ranked_players | filter:{checked: true }).length}}</span>
  <br>
  <br>
  <div class="scrollable-content"  style='padding:10px'>
    <div class=' panel panel-default'>
      <div class='panel-heading'>
        Division Players (ranked)
      </div>
      <div class='panel-body'>
        <table>
          <tr ng-repeat='player in resources.ranked_players.ranked_players'>
            <td style='padding-right:10px'>
              <input
                 ng-change='calc_num_selected()'
	         style='margin-top:0px;height:40px;width:40px;vertical-align:middle;'
                 type="checkbox" ng-model="player.checked">
            </td>
            <td>
              rank : <input
                        style='width:50px'
                        type="number" ng-model="player.rank">
              <span ng-class="{red: check_too_many_checked_players(player),orange: check_too_many_ties(player)}">
                <!--(data | filter:{checked: true }).length -->
                {{resources.players.players[player.player_id].first_name}} {{resources.players.players[player.player_id].last_name}}
              </span>
              <hr ng-if="abdivision($index)">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
