<div ui-content-for="title">
  <span>Player Info</span>
</div>
<div ui-view="backbutton"></div>

<div class="scrollable">
  <!--<div style='background:#AAAAAA' ui-view='player_add_progress'></div>-->
  <div class="scrollable-content big-web-font"  style='padding:10px'>
    {{resources.player.first_name}}    {{resources.player.last_name}}      (#{{resources.player.player_id}}) <span ng-if='team_id != undefined'><br>
      On team {{resources.player_teams.teams[0].team_name}}</span><br>
    <span ng-if='resources.player.linked_division != null'> Linked to {{resources.player.linked_division.name}}</span><hr>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <div class='panel-title big-web-font'> Active Tickets: </div>
      </div>
      <div class='panel-body'>
        <table class='table'>
          <th>Division</th><th>Active Ticket</th>
          <tr ng-repeat='division in resources.active_divisions'>
            <td>
              <span ng-if='division.metadivision_id == undefined'>{{division.tournament_name}}</span>
	      <span ng-if='division.metadivision_id != undefined'>{{resources.metadivisions[division.metadivision_id].name}}</span>              
            </td>
            <td>
              {{resources.player_active_entries_count[division.division_id]}}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class='panel panel-default'>
      <div class='panel-heading'>
        <div class='panel-title big-web-font'> Unstarted Tickets: </div>        
      </div>
      <div class='panel-body'>
        <table class='table'>
          <th>Division</th><th># Tickets</th>
          <tr ng-repeat='division in resources.active_divisions'>
            <td>
              <span ng-if='division.metadivision_id == undefined'>{{division.tournament_name}}</span>
	      <span ng-if='division.metadivision_id != undefined'>{{resources.metadivisions[division.metadivision_id].name}}</span>              
            </td>
            <td>
              <span ng-if='division.metadivision_id == undefined'>
                {{resources.player_tokens.divisions[division.division_id]}}
              </span>
              <span ng-if='division.metadivision_id != undefined'>
	        {{resources.player_tokens.metadivisions[division.metadivision_id]}}	                  
              </span>
            </td>            
          </tr>

          <tr ng-repeat='division in resources.active_divisions' ng-if='resources.tournaments[division.tournament_id].team_tournament == true'>
            <td>{{division.tournament_name}}</td><td>{{resources.player_team_tokens.teams[division.division_id]}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
