<div class='form-group form-group-xlg input-group input-group-xlg'>        
  <span  class="input-group-addon" id="number_of_scores_per_entry">Scores Per Ticket</span>
  <input
     type='number'
     class='form-control'
     aria-describedby='number_of_scores_per_entry'
     ng-model='tournament.number_of_scores_per_entry'
     style='width:100px'
     />
</div>
<br>
<div class='form-group form-group-xlg input-group input-group-xlg'>        
  <span  class="input-group-addon" id="stripe_sku">Stripe SKU</span>
  <input
     class='form-control'
     aria-describedby='stripe_sku'
     ng-model='tournament.stripe_sku'
     style='width:300px'
     />
</div>
